nav {
  position: sticky;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgb(64, 64, 64);
  width: 100%;
}

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ****************** logo ****************** */
.nav_wrapper .logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav_wrapper .logo_symbol {
  border: 1px solid rgb(64, 64, 64);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_wrapper .logo_symbol .logo_dot {
  width: 32px;
  height: 32px;
  display: block;
  background: indigo;
  border-radius: 50%;
}

.nav_wrapper .logo_title {
  font-family: var(--ff-en);
  font-weight: 500;
  _font-size: 1.25rem;
}

/* ****************** navigation ****************** */
.nav_wrapper .navi {
  _display: flex;
  gap: 1.25em;
  font-family: var(--ff-en);
}

/* ****************** sub navigation ****************** */
.sub_links {
  _display: flex;
  gap: 0.5rem;
  align-items: center;
}

.sub_links a {
  font-family: var(--ff-en);
  border: 1px solid rgb(64, 64, 64);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.mode_btn {
  _font-size: 1.5rem;
  _padding: 0.625rem;
  _background: rgb(212, 212, 212);
  border-radius: 0.5rem;
  _color: rgb(10, 10, 10);
}
