@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-kr: "Noto Sans KR", sans-serif;
  --ff-en: "IBM Plex Mono", monospace;
  color-scheme: dark;
}

.container {
  margin: auto;
  padding: 1rem;
  width: 100%;
}

@media (max-width: 1024) {
  .container {
    max-width: 100%;
  }
}

.vid {
  _width: 40%;
  box-shadow: 0 0 5px indigo;
}
